.vs/BaseAlgorithm/DesignTimeBuild/.dtbcache.v2
.vs/BaseAlgorithm/v16/.suo
BaseAlgorithm/bin/Debug/netcoreapp3.1/BaseAlgorithm.deps.json
BaseAlgorithm/bin/Debug/netcoreapp3.1/BaseAlgorithm.dll
BaseAlgorithm/bin/Debug/netcoreapp3.1/BaseAlgorithm.exe
BaseAlgorithm/bin/Debug/netcoreapp3.1/BaseAlgorithm.pdb
BaseAlgorithm/bin/Debug/netcoreapp3.1/BaseAlgorithm.runtimeconfig.dev.json
BaseAlgorithm/bin/Debug/netcoreapp3.1/BaseAlgorithm.runtimeconfig.json
BaseAlgorithm/bin/Debug/netcoreapp3.1/SortAlgorithm.dll
BaseAlgorithm/bin/Debug/netcoreapp3.1/SortAlgorithm.pdb
BaseAlgorithm/obj/BaseAlgorithm.csproj.nuget.dgspec.json
BaseAlgorithm/obj/BaseAlgorithm.csproj.nuget.g.props
BaseAlgorithm/obj/BaseAlgorithm.csproj.nuget.g.targets
BaseAlgorithm/obj/project.assets.json
BaseAlgorithm/obj/project.nuget.cache
BaseAlgorithm/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.AssemblyInfo.cs
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.AssemblyInfoInputs.cache
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.assets.cache
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.csproj.CopyComplete
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.csproj.CoreCompileInputs.cache
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.csproj.FileListAbsolute.txt
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.csprojAssemblyReference.cache
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.dll
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.exe
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.genruntimeconfig.cache
BaseAlgorithm/obj/Debug/netcoreapp3.1/BaseAlgorithm.pdb
SortAlgorithm/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SortAlgorithm/obj/Debug/netcoreapp3.1/SortAlgorithm.AssemblyInfo.cs
SortAlgorithm/obj/Debug/netcoreapp3.1/SortAlgorithm.AssemblyInfoInputs.cache
SortAlgorithm/obj/Debug/netcoreapp3.1/SortAlgorithm.assets.cache
SortAlgorithm/obj/Debug/netcoreapp3.1/SortAlgorithm.csproj.CoreCompileInputs.cache
SortAlgorithm/obj/Debug/netcoreapp3.1/SortAlgorithm.csproj.FileListAbsolute.txt
SortAlgorithm/obj/Debug/netcoreapp3.1/SortAlgorithm.dll
SortAlgorithm/obj/Debug/netcoreapp3.1/SortAlgorithm.pdb
SortAlgorithm/bin/Debug/netcoreapp3.1/SortAlgorithm.deps.json
SortAlgorithm/bin/Debug/netcoreapp3.1/SortAlgorithm.dll
SortAlgorithm/bin/Debug/netcoreapp3.1/SortAlgorithm.pdb
SortAlgorithm/obj/project.assets.json
SortAlgorithm/obj/project.nuget.cache
SortAlgorithm/obj/SortAlgorithm.csproj.nuget.dgspec.json
SortAlgorithm/obj/SortAlgorithm.csproj.nuget.g.props
SortAlgorithm/obj/SortAlgorithm.csproj.nuget.g.targets
